<ul>
  <li><a class="active" href="/">Home</a></li>
  <% if (session) { %>
  <form action="/<%= session.username%>/logout" method="POST">
<a style="float: right; color: rgb(255, 255, 255); text-align: center; padding: 14px 16px;" href="/<%= session.username%>/logout"
  type="submit">logout</a>
  </form>
  <% } %>
</ul>