<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
      .w3-button {width:150px;}
      </style>
  <title>Splitter</title>
</head>
<body>
    <div class="w3-container">
        <h2>WELCOME TO SPLITTER</h2>
        <p><button class="w3-button w3-red" onclick="window.location.href='/users/register'">Sign up</button></p>
        <p><button class="w3-button w3-orange" onclick="window.location.href='/users/login'">Log in</button></p>
    </div>
</body>
</html>